$color-background: #fffbff;

$color-page: #1f1f1f;

$color-search: #e8e3eb;

$color-task: #f5eff8;

$color-filter-active: #e7dcf5;

$color-primary: #7050ad;

$color-primary-dark: #62459b;

$color-checkbox: #d8c6ee;

$color-text: #29272d;

$color-text-secondary: #5f5962;

$color-text-task: #454047;

$color-text-completed: #aaa5ac;

$color-border: #756e7d;

$color-input-border: #99929e;

$color-button: #eadcf8;